html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: url("./naturePhoto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card {
  border: 1px solid white;
  background: #eaeaea;
  border-radius: 5px;
  padding: 2rem;
  font-size: 2rem;
  width: 100%;
  max-width: 42rem;
  font-family: "Open Sans";
}
